<app-card>
    <p title>This is title</p>
    <p body>This is body</p>
    <div>This is a default text</div>
</app-card>

<app-card>
    <p title>This is title 1</p>
    <p body>This is body 1</p>
    <div>This is a default text 1</div>
</app-card>

<app-hover-click></app-hover-click>

<!-- <h3>Welcome to Angular 17</h3>

<app-profile></app-profile>
<div app-profile></div>

<app-counter [count]="count"></app-counter>

<app-getter-input [title]="'PassedApp'"></app-getter-input>

<p class="leela">
    Testing CSS from app component
</p>

<div>
    <app-panel (dataEvent)="dataReceived($event)"></app-panel>
</div>

<div>{{datafromChild}}</div> -->